<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hakuna Matata Games</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_4to_ProyectoFinal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="logo"><a asp-area="" asp-controller="Home" asp-action="Index">HM <span class="mini"></span></a></li>
                @if(ViewBag.Log != "1"){
                    <li><a asp-area="" asp-controller="Home" asp-action="Login">LOGIN</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Register">REGISTER</a></li>
                }else{
                <li><a asp-area="" asp-controller="Home" asp-action="Perfil">PERFIL</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Logout">CERRAR SESION</a></li>
                }
                
            </ul>  
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer>&copy; Lautaro Yukelson - Iair Steimberg</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
