<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hakuna Matata Games</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_4to_ProyectoFinal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="navbar">
                <div class="navbar_left">
                    <div class="logo">
                        <a href="#">Hakuna Matata</a>
                    </div>
                </div>
                <div class="navbar_right">
                @if (ViewBag.Log != "1"){
                    <div class="no-user">
                        <a asp-area="" asp-controller="Home" asp-action="Login"><img src="~/assets/icos/login-ico.png"></a>
                        <a asp-area="" asp-controller="Home" asp-action="Register"><img src="~/assets/icos/signup-ico.png"></a>
                    </div>
                } else {
                    <div class="notifications">
                        <div class="icon_wrap"><i class="far fa-bell"></i></div>

                        <div class="notification_dd">
                            <ul class="notification_ul">
                                <li class="starbucks success">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">
                                        <div class="title">
                                            Lorem, ipsum dolor.
                                        </div>
                                        <div class="sub_title">
                                            Lorem ipsum dolor sit amet consectetur.
                                        </div>
                                    </div>
                                    <div class="notify_status">
                                        <p>Success</p>
                                    </div>
                                </li>
                                <li class="show_all">
                                    <p class="link">Show All Activities</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="profile">
                        <div class="icon_wrap">
                            <img src="@Html.Raw(ViewBag.Usuario.FotoPerfil)" alt="profile_pic">
                            <span class="name">@ViewBag.Usuario.Nombre</span>
                            <i class="fas fa-chevron-down"></i>
                        </div>

                        <div class="profile_dd">
                            <ul class="profile_ul">
                                <li class="profile_li"><a class="profile" asp-area="" asp-controller="Home" asp-action="Perfil"><span class="picon"><i class="fas fa-user-alt"></i>
                                            </span>Perfil</a>
                                </li>
                                <li><a class="settings" href="#"><span class="picon"><i class="fas fa-cog"></i></span>Ajustes</a></li>
                                <li><a class="logout" asp-area="" asp-controller="Home" asp-action="Logout"><span class="picon"><i class="fas fa-sign-out-alt"></i></span>Salir</a></li>
                            </ul>
                        </div>
                    </div>
                }
                </div>
            </div>

            <div class="popup">
                <div class="shadow"></div>
                <div class="inner_popup">
                    <div class="notification_dd">
                        <ul class="notification_ul">
                            <li class="title">
                                <p>All Notifications</p>
                                <p class="close"><i class="fas fa-times" aria-hidden="true"></i></p>
                            </li> 
                            <!-- ... (repetir el bloque similar para otras notificaciones) ... -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>&copy; Lautaro Yukelson - Iair Steimberg</footer>
    <script src="https://kit.fontawesome.com/d8ce5fd697.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>