<link rel="stylesheet" href="~/css/Snake.css" asp-append-version="true" />
<div id="gameContainer">
    <h1>SNAKE</h1>
    <canvas id="canvas"></canvas>
</div>
<div id="fin" onclick="window.location.reload()"></div>
<script src="../../js/Snake.js"></script>

<script> 
	document.addEventListener("keydown", ()=> {
        start()
    });
</script>