@{
    ViewData["Title"] = "Inicio";
}

<h1 class="titulo">HakunaMatata</h1>
<div class="container">
    @foreach(Juego juego in ViewBag.Juegos){
        <div class="card">
            <div class="neon_card" id="_@juego.Nombre">
                <a href="@Url.Action("Juego", "Home", new {@juego.idJuego})" class="m neon-button">JUGAR</a>
            </div>
        </div>
    }
</div>
