<form method="post" action="LoginAction">
    <input class="form-control" type="text" name="Nombre" id="Nombre" placeholder="Nombre de usuario..." required>
    <input class="form-control" type="password" name="Contrasena" id="Contrasena" placeholder="Contraseña..." required>
    <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
</form>

<script>
    window.addEventListener("DOMContentLoaded", (event) => {
        checkLogin(@ViewBag.Log);
    });
</script>