@{
    ViewData["Title"] = "Perfil";
    string fecha = ((DateTime)ViewBag.Usuario.FechaNacimiento).ToString("dd/MM/yyyy");
}



<div class="perfil">
<img src="@Html.Raw(ViewBag.Usuario.FotoPerfil)">
<h1>@ViewBag.Usuario.Nombre</h1>
<h1>@ViewBag.Usuario.Mail<h1>
<h1>@fecha</h1>
<button onclick="addFriend()"class="btn btn-primary boton-neon" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Agregar amigo
      </button>
</div>