<form method="post" action="RegisterAction">
    <input class="form-control" type="text" name="Nombre" id="Nombre" placeholder="Nombre de usuario..." required>
    <input class="form-control" type="password" name="Contrasena" id="Contrasena" placeholder="Contraseña..." required>
    <input class="form-control" type="email" name="Mail" id="Mail" placeholder="Correo electronico..." required>
    <button class="btn btn-primary" type="submit">Registrarse</button>
</form>