* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(31, 4, 37), rgb(31, 18, 37), rgb(48, 23, 61), rgb(55, 27, 68), rgb(71, 33, 88), rgb(78, 25, 119), rgb(100, 29, 155), rgb(124, 58, 237));
  display: flex;
  justify-content: center;
  align-items: center;
}

#tablero {
  height: 60vh;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(10, 10fr);
  grid-template-rows: repeat(10, 10fr);
  border: #5c554f solid 7px;
}

.cuadro {
  background-color: #cdc1b5;
  border: #5c554f solid 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#perdido {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: red;
}

#ganado {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: greenyellow;
}
