@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap');

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(31, 4, 37), rgb(31, 18, 37), rgb(48, 23, 61), rgb(55, 27, 68), rgb(71, 33, 88), rgb(78, 25, 119), rgb(100, 29, 155), rgb(124, 58, 237));
  overflow-x: hidden;
}

main{
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  box-sizing: border-box;
  list-style-type: none;
}

.titulo{
  color: hsl(317 100% 54%);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  font-size: 6rem;
  width: fit-content;
}

.container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
}  

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  margin: 0px 10px 0px 10px;
}

.card .neon_card {
  width: 350px;
  height: 250px;
  background-position: center;
  background-size: cover;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 40px;
  transition: 0.5s ;
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode: color;
}

#_Tetris{
  background-image: url(../assets/fotosJuegos/Tetris.png);
}
#_Snake{
  background-image: url(../assets/fotosJuegos/Snake.png);
}
#_Buscaminas{
  background-image: url(../assets/fotosJuegos/Buscaminas.png);
}
#_Wordle{
background-image: url(../assets/fotosJuegos/Wordle.jpg);
}
#_2048{
background-image: url(../assets/fotosJuegos/2048.png);
}


.card .neon_card::before {
  position: absolute;
  content: "";
  background: linear-gradient(235deg, #e100ff, #060c21, #3700ff);
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  border-radius: 39px;
}

.card .neon_card::after {
  position: absolute;
  content: "";
  background: linear-gradient(235deg, #e100ff, #060c21, #3700ff);
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: -2;
  filter: blur(50px);
  border-radius: 39px;
}
.neon_card:hover{
  background-color: rgba(0, 0, 0, 0.733);
  width: 400px;
  height: 300px;
  
}

.neon_card:hover .m{
  display: inline-block;
  transition: 1s;
}


.neon-button {
  font-size: 4rem;

  display: none;
  cursor: pointer;
  text-decoration: none;
  color: hsl(317 100% 54%);
  border: hsl(317 100% 54%) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);

  position: relative;
  z-index: 10;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: hsl(317 100% 54%);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
  opacity: 0;
  background-color: hsl(317 100% 54%);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: hsl(323 21% 16%);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.logo {
  float: left;
  line-height: 50px;
  font-size: 2em;
}


footer{
  width: 100%;
  border-radius: 50px 50px 0 0;
  border-top: 2px solid rgb(255,20,189);
  box-shadow: 0 0 20px rgba(255,20,189, 0.5);
  font-weight: 400;
  height: 50px;
  color: rgb(255,20,189);
  text-shadow: 0 0 10px rgba(255,20,189, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right  , rgba(255, 255, 255, 0.025), rgba(0, 0, 0, 0.4));
}

/*NAVBAR*/

.wrapper{
  width: 100%;
  height: 100%;
}

.navbar{
  width: 100%;
  height: 60px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0 0 50px 50px;
  border-bottom: 2px solid rgb(255,20,189);
  box-shadow: 0 0 20px rgba(255,20,189, 0.5);
  font-weight: 400;
}

.no-user{
  width: 100px;
  margin-top: 4px;
  margin-right: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-user a{
  margin-left: 10px;
  margin-right: 10px;
}

.navbar .navbar_left .logo a{
  font-family: 'Trade Winds';
  font-size: 20px;
  color: rgb(255,20,189);
  text-shadow: 0 0 10px rgba(255,20,189, 0.8);
}

.navbar .navbar_right{
   display: flex;
}

.profile-pic{
  width: 35px;
}

.navbar .navbar_right .icon_wrap{
  cursor: pointer;
}

.navbar .navbar_right .notifications{
  margin-right: 25px;
}

.navbar .navbar_right .notifications .icon_wrap{
  font-size: 28px;
}

.navbar .navbar_right .profile,
.navbar .navbar_right .notifications{
  position: relative;
}

.navbar .profile .profile_dd,
.notification_dd{
  position: absolute;
  top: 48px;
  right: -15px;
  user-select: none;  
  border: 1px solid rgb(255,20,189);
  width: 350px;
  height: auto;
  display: none;
  border-radius: 3px;
  box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
              -10px -10px 35px rgba(0,0,0,0.125);
}

.notification_dd li {
    border-bottom: 1px solid hsl(317 100% 54%);
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.notification_dd li .notify_icon{
  display: flex;
}

.notification_dd li .notify_icon .icon{
  display: inline-block;
	width: 40px;
	height: 42px;
}

.notification_dd li.baskin_robbins .notify_icon .icon{
  background-position: 0 -43px;
}

.notification_dd li.mcd .notify_icon .icon{
  background-position: 0 -86px;
}

.notification_dd li.pizzahut .notify_icon .icon{
  background-position: 0 -129px;
}

.notification_dd li.kfc .notify_icon .icon{
  background-position: 0 -178px;
}

.notification_dd li .notify_data{
  margin: 0 15px;
  width: 185px;
}

.notification_dd li .notify_data .title{
  color: hsl(317 100% 54%);
  font-weight: 600;
}

.notification_dd li .notify_data .sub_title{
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
  color: hsl(317 100% 54%);
}

.notification_dd li .notify_status p{
  font-size: 12px;
}

.notification_dd li.success .notify_status p{
  color: #47da89;
}

.notification_dd li.failed .notify_status p{
  color: #fb0001;
}

.notification_dd li.show_all{
  padding: 20px;
  display: flex;
  justify-content: center;
  border: none;
}

.notification_dd li.show_all p{
  font-weight: 700;
  color: hsl(317 100% 54%);
  cursor: pointer;
}

.notification_dd li.show_all p:hover{
  text-decoration: underline;
}

.navbar .navbar_right .profile .icon_wrap{
  display: flex;
  align-items: center;
}

.navbar .navbar_right .profile .name{
  display: inline-block;
  margin: 0 10px;
  color: rgb(255,20,189);
  text-shadow: 0 0 10px rgba(255,20,189, 0.8);
}
 
.navbar .profile .profile_dd{
  width: 225px;
}

.fa-chevron-down, .perfil{
  color: rgb(255,20,189);
  text-shadow: 0 0 10px rgba(255,20,189, 0.8);
}

.fa-bell{
  color: rgb(255,20,189);
  text-shadow: 0 0 10px rgba(255,20,189, 0.8);
}

.navbar .profile .profile_dd ul li {
    border-bottom: 2px solid rgb(255,20,189);
    box-shadow: 0 0 20px rgba(255,20,189, 0.5);
}

.navbar .profile .profile_dd ul li:last-child{
  border-bottom: 0px;
  box-shadow: none;
}

.navbar .profile .profile_dd ul li  a{
    display: block;
    padding: 15px 35px;
    position: relative;
    text-decoration: none;
    color:rgb(255,20,189);
}

.navbar .profile .profile_dd ul li  a .picon{
  display: inline-block;
  width: 30px;
}

.navbar .profile .profile_dd ul li:last-child:hover{
  border-radius: 0 0 50px 50px;
} 

.navbar .profile .profile_dd ul li.profile_li a:hover {
    background: transparent;
    cursor: default;
}

.navbar .profile .profile_dd ul li .btn{
    height: 32px;
    padding: 7px 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    width: 125px;
    margin: 5px auto 15px;
}

.navbar .profile.active .profile_dd,
.navbar .notifications.active .notification_dd{
  display: block;
  background: linear-gradient(to right  , rgba(255, 255, 255, 0.025), rgba(0, 0, 0, 0.4));
  border-radius: 0 0 50px 50px;
  border-bottom: 2px solid rgb(255,20,189);
  box-shadow: 0 0 20px rgba(255,20,189, 0.5);
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    display: none;
}

.popup .shadow {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 9000;
}

.popup .inner_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
    z-index: 10000;
}

.popup .notification_dd{
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
  background-color: rgb(48, 23, 61);
  color: hsl(317 100% 54%);
}

.popup .notification_dd:before{
   display: none;
}

.popup .notification_dd li.title{
  font-weight: 700;
  display: flex;
  justify-content: center;
  position: relative;
}

.popup .notification_dd li.title .close{
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title .close:hover{
  opacity: 0.5;
}

.noti-ico-container{
  width: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.noti-ico{
  width: 25px;
}

/*-------------------------FORM-------------------------*/

.login-box , .perfil {
  width: 400px;
  padding: 40px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 0 5px hsl(317 100% 54%),
              0 0 25px hsl(317 100% 54%),
              0 0 50px hsl(317 100% 54%),
              0 0 100px hsl(317 100% 54%);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: hsl(317 100% 54%);
  text-align: center;
}


.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: hsl(317 100% 54%);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid hsl(317 100% 54%);;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: hsl(317 100% 54%);
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box label{
  top: -20px;
  left: 0;
  color: hsl(317 100% 54%);
  font-size: 12px;
}

.login-box .user-box input[type="date"]label {
  top: 0;
  left: 0;
  color: hsl(317 100% 54%);
  font-size: 16px;
}


.boton-neon{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: hsl(317 100% 54%);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.boton-neon:hover {
  background: hsl(317 100% 54%);
  color: #000;
  border-radius: 5px;
  box-shadow: 0 0 5px hsl(317 100% 54%),
              0 0 25px hsl(317 100% 54%),
              0 0 50px hsl(317 100% 54%),
              0 0 100px hsl(317 100% 54%);
}

.boton-neon span {
  position: absolute;
  display: block;
}

.boton-neon span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, hsl(317 100% 54%));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.boton-neon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, hsl(317 100% 54%));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.boton-neon span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, hsl(317 100% 54%));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.boton-neon span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, hsl(317 100% 54%));
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.perfil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil img{
  border-radius: 50%;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: hsl(317 100% 54%);
  padding: 10px 20px;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
}
input[type=file]{
  color: hsl(317, 100%, 45%);
}