*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
    color: hsl(317 100% 54%);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(31, 4, 37), rgb(31, 18, 37), rgb(48, 23, 61), rgb(55, 27, 68), rgb(71, 33, 88), rgb(78, 25, 119), rgb(100, 29, 155), rgb(124, 58, 237))

}

#presentacion{
    width: 100%;
    height: 100%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameContainer{
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;
}

#fin{
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;

    display: none;
}

#fin h1{
    font-size: 32px;
}

#canvas{
    border: 15px solid #578a34;
}