*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
    color: hsl(317 100% 54%);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

    background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(31, 4, 37), rgb(31, 18, 37), rgb(48, 23, 61), rgb(55, 27, 68), rgb(71, 33, 88), rgb(78, 25, 119), rgb(100, 29, 155), rgb(124, 58, 237))

}

h1{
    font-size: 3rem;
}

.TetrisContainer{
    width: 400px;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#TetrisCanvas{
    height: 80%;
}

strong, strong span{
    
    font-size: 1.5rem;
}

.TetrisPerdiste{
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;


    display: none;
}

.TetrisPerdiste p{
    font-size: 1rem;
    
}

.TetrisBot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}